* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.primary-button {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    padding: 15px 28px;
}

/* header & navigation style */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 55px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}


.header{
    background-color: 
    #FFF8F3;
    background-image: url('../images/header_bg.png') , url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
}

/* header Banner Style */

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-des {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.btn-dc{
    margin-left: 30px;
}